<nav class="menu">
    <ul>
        <li><a href="/Shahar-Beil/views/index.php">Home</a></li>
        <li><a href="/Shahar-Beil/views/about.php">About</a></li>
        <li><a href="/Shahar-Beil/views/shopNow.php">Shop</a></li>
        <li><a href="/Shahar-Beil/views/ContactUs.php">Contact Us</a></li>
    </ul>
    
    <div class="logo">
        <a href="/Shahar-Beil/views/signIn.php"><img src="/Shahar-Beil/static/icons/profile.png"></a>
        <a style="padding-left:25px;" href="/Shahar-Beil/views/wishList.php"><img src="/Shahar-Beil/static/icons/wish.png"></a>
        <a style="padding-left:25px;" href="/Shahar-Beil/views/cart.php"><img src="/Shahar-Beil/static/icons/cart.png"></a>
        <a style="padding-left:25px;" href="/Shahar-Beil/views/logout.php"><img src="/Shahar-Beil/static/icons/logout.png"></a>
    </div>
    
    <form class="search-form">
        <input type="text" placeholder="Search">
        <button>Search</button>
    
    </form>

</nav>